@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <h1>Slušalice</h1>
    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Category</th>
                <th scope="col">Fabricante</th>
                <th scope="col">Supplier</th>
                <th scope="col">Cost</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>JBL Endurance</td>
                <td>Bele, Crne</td>
                <td>Bežične slušalice</td>
                <td>JBL</td>
                <td>Gigatron</td>
                <td>5.899</td>
            </tr>
            <tr>
                <th scope="row">2</th>
                <td>JBL Tune 500BT</td>
                <td>Bele, Crne, Crvene</td>
                <td>Bežične slušalice</td>
                <td>JBL</td>
                <td>Gigatron</td>
                <td>6.299</td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td>JBL E45BT </td>
                <td>Bele, Crne, Plave</td>
                <td>Bežične slušalice</td>
                <td>JBL</td>
                <td>Gigatron</td>
                <td>11.999</td>
            </tr>
            <tr>
                <th scope="row">4</th>
                <td>JBL QUANTUM 100</td>
                <td>Crne, Crvene</td>
                <td>Gejmerske slušalice</td>
                <td>JBL</td>
                <td>Gigatron</td>
                <td>4.999</td>
            </tr>
            <tr>
                <th scope="row">5</th>
                <td>JBL QUANTUM 600 </td>
                <td>Bele, Crne</td>
                <td>Gejmerske slušalice</td>
                <td>JBL</td>
                <td>WinWin</td>
                <td>17.999</td>
            </tr>
            <tr>
                <th scope="row">6</th>
                <td>JBL  QUANTUM 800</td>
                <td>Bele, Crvene</td>
                <td>Gejmerske slušalice</td>
                <td>JBL</td>
                <td>WinWin</td>
                <td>24.599</td>
            </tr>
            <tr>
                <th scope="row">7</th>
                <td>SENNHEISER CX 350BT</td>
                <td>Bele</td>
                <td>Bežične bubice</td>
                <td>SENNHEISER</td>
                <td>WinWin</td>
                <td>11.899</td>
            </tr>
            <tr>
                <th scope="row">8</th>
                <td>SENNHEISER CX 100</td>
                <td>Crvene</td>
                <td>Bubice</td>
                <td>SENNHEISER</td>
                <td>Gigatron</td>
                <td>2.499</td>
            </tr>
            <tr>
                <th scope="row">9</th>
                <td>SENNHEISER  HD 450BT</td>
                <td>Crne</td>
                <td>Bežične slušalice</td>
                <td>SENNHEISER</td>
                <td>Giagatron</td>
                <td>15.999</td>
            </tr>
            <tr>
                <th scope="row">10</th>
                <td>SONY WH-CH510L</td>
                <td>Bele, Crne, Crvene</td>
                <td>Bežične slušalice</td>
                <td>SONY</td>
                <td>WinWin</td>
                <td>6.999</td>
            </tr>
        </tbody>
    </table>
</div>
